#
# Track binary image assets with Git LFS so they do not bloat the main repo history.
*.[Pp][Nn][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Jj][Pp][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Jj][Pp][Ee][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Gg][Ii][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Bb][Mm][Pp] filter=lfs diff=lfs merge=lfs -text
*.[Ww][Ee][Bb][Pp] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Ii][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Ii][Ff][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Ss][Vv][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Aa][Vv][Ii][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Hh][Ee][Ii][Cc] filter=lfs diff=lfs merge=lfs -text
*.[Hh][Ee][Ii][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Ii][Cc][Oo] filter=lfs diff=lfs merge=lfs -text
