You are an expert narrative continuity auditor.
Return a JSON object ONLY that conforms to the provided schema.
Do not include markdown or extra commentary.

Schema:
{{ schema | tojson }}

Left chapter:
{{ left | tojson }}

Right chapter:
{{ right | tojson }}

Canon snapshots:
{{ canon | tojson }}
